<%- include("header") -%>

<h1 id="heading">This is about page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate dignissim suspendisse in est. Ipsum consequat nisl vel pretium lectus. Tristique senectus et netus et. Justo nec ultrices dui sapien eget mi proin sed.</p>

<%- include("footer") -%>
